# Decorators
Input(Any function) -> output is modified function (Wrapper)

In [1]:
# Ignore non harmful warnings
from warnings import filterwarnings
filterwarnings("ignore")

# Write a decorator function to welcome and thank the use

In [9]:
def welcome(func):
    def wrapper(*args, **kwargs):
        print("Welcome User!")
        res = func(*args, **kwargs)
        print(f"Results : {res}")
        print("Thank you")
        return res
    return wrapper

In [10]:
# Simple interest
@welcome
def simple_interst(p, n, r):
    i = (p * n * r) / 100
    a = p + i
    return i, a

In [11]:
i1, a1 = simple_interst(p=50000, n=5, r=7.1)

Welcome User!
Results : (17750.0, 67750.0)
Thank you

In [12]:
i1

17750.0

In [13]:
a1

67750.0

In [14]:
i2, a2 = simple_interst(p=80_000, n=5, r=8.3)

Welcome User!
Results : (33200.00000000001, 113200.0)
Thank you

In [15]:
i2

33200.00000000001

In [16]:
a2

113200.0

In [17]:
import math

In [19]:
@welcome
def hypotenuse(a, b):
    return math.sqrt(a**2 + b**2)

In [20]:
h1 = hypotenuse(a=3, b=5)

Welcome User!
Results : 5.830951894845301
Thank you

In [21]:
h1

5.830951894845301

In [22]:
h2 = hypotenuse(a=12, b=13)

Welcome User!
Results : 17.69180601295413
Thank you

In [23]:
print(h2)

17.69180601295413

# Write a decorator function to check execution time

In [24]:
import time

In [27]:
start = time.perf_counter()
time.sleep(2)
print("Hello")
time.sleep(3)
print("World")
stop = time.perf_counter()
elasped_time = stop - start
print(f"Elapsed Time : {elasped_time:.2f} sec")

Hello
World
Elapsed Time : 5.00 sec

In [28]:
def time_decorator(func):
    def wrapper(*args, **kwargs):
        start = time.perf_counter()
        res = func(*args, **kwargs)
        print(f"Results : {res}")
        stop = time.perf_counter()
        elapsed_time = stop - start
        print(f"Elapsed time : {elapsed_time:.2f} sec")
        return res
    return wrapper

In [30]:
@time_decorator
def square(n: float):
    time.sleep(3)
    return n**2

In [31]:
s1 = square(12.5)

Results : 156.25
Elapsed time : 3.00 sec

In [32]:
s2 = square(25.3)

Results : 640.09
Elapsed time : 3.00 sec

In [35]:
@time_decorator
def square_multiple(nums: list[float]) -> list[float]:
    s = []
    for i in nums:
        time.sleep(1)
        print(f"Square of number {i} is {i**2}")
        s.append(i**2)
    return s

In [36]:
s1 = square_multiple(nums = [12, 13, 15, 25, 30, 11])

Square of number 12 is 144
Square of number 13 is 169
Square of number 15 is 225
Square of number 25 is 625
Square of number 30 is 900
Square of number 11 is 121
Results : [144, 169, 225, 625, 900, 121]
Elapsed time : 6.05 sec

In [37]:
s2 = square_multiple(nums = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

Square of number 20 is 400
Square of number 21 is 441
Square of number 22 is 484
Square of number 23 is 529
Square of number 24 is 576
Square of number 25 is 625
Square of number 26 is 676
Square of number 27 is 729
Square of number 28 is 784
Square of number 29 is 841
Square of number 30 is 900
Results : [400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
Elapsed time : 11.07 sec

In [38]:
s1

[144, 169, 225, 625, 900, 121]

In [39]:
s2

[400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

# Download the file from internet

In [40]:
url = "https://raw.githubusercontent.com/utkarshg1/mlproject_regression/refs/heads/main/artifacts/data.csv"
print(url)

https://raw.githubusercontent.com/utkarshg1/mlproject_regression/refs/heads/main/artifacts/data.csv

In [41]:
url.split("/")

['https:',
 '',
 'raw.githubusercontent.com',
 'utkarshg1',
 'mlproject_regression',
 'refs',
 'heads',
 'main',
 'artifacts',
 'data.csv']

In [42]:
url.split("/")[-1]

'data.csv'

In [43]:
from urllib.request import urlretrieve

@time_decorator
def download_files(url: str):
    file_name = url.split("/")[-1]
    print(f"Downloading {file_name} ...")
    urlretrieve(url, file_name)
    print(f"{file_name} download complete")

In [44]:
url

'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/refs/heads/main/artifacts/data.csv'

In [46]:
download_files(url)

Downloading data.csv ...
data.csv download complete
Results : None
Elapsed time : 0.77 sec

In [47]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [48]:
df.shape

(193573, 11)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB